[Desktop Entry]
Name=KDE GNU Gadu
Name[pl]=KDE GNU Gadu
Comment=GNU Gadu free Gadu-Gadu(tm) client. KDE version.
Comment[pl]=GNU Gadu - wolne gadanie. Wersja KDE.
Exec=gg_kde
Icon=gg
Terminal=false
Type=Application
# vi: encoding=utf-8
